// Sizes

$base-size: 20px;
$border-radius: 6px;

// Times

$delay: 0.20s;
$time-fast: 0.18s;

// Colors - palette

$blue-clearer: rgb(122, 171, 237);
$blue-clear: rgb(86, 140, 244);
$blue: rgb(86, 140, 244);
$blue-dark: rgb(44, 112, 215);
$blue-darker: rgb(44, 112, 215);

$gray--lighter: rgb(238, 238, 238);
$gray--light: rgb(244, 245, 246);
$gray: rgb(174, 188, 203);
$gray-dark: rgb(116, 129, 145);

// Colors - theme

$primary: $blue;
$text-color: rgb(65, 81, 105);