$bg-gray-clear: rgb(239, 239, 239);
$border-clear-color: #eee;
$border-color: #d1d1d1;

$base-size: 20px;

$blue: rgb(86, 140, 244); // Button in white perfect
$primary: $blue;

$text-color: rgb(56, 64, 74);