@import './_variables';

button {
  @extend .rounded;
  font-size: 0.92rem;
  font-weight: 500;
  &:focus {
    outline: 0 !important;
  }
}

// Sizes

button, .button--md {
  font-weight: 500;
  padding: 10px 16px;
}

// General

.button--primary {
  @extend .btn-primary;
  @extend .border-0;
}

.button--light {
  @extend .border-0;
  background-color: transparent !important;
  color: $gray-dark !important;

  &:hover {
    color: black !important;
  }
}