@import './_variables';

button:focus {
  outline: 0 !important;
}

// Sizes

.button--md {
  font-size: 0.90rem;
  padding: 12px;
  line-height: 10px;
}

// General

.button--primary {
  @extend .btn-primary;
  @extend .rounded;
  @extend .border-0;
  @extend .button--md;
  font-weight: 600;
}

.button--light {
  @extend .button--md;
  @extend .border-0;
  background-color: transparent !important;
  color: $text-color !important;
  font-weight: 500;

  &:hover {
    color: black !important;
  }
}