$font_url: "/fonts/silka-roman/";

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-black-webfont.eot');
  src: url('#{$font_url}silka-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-black-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-black-webfont.woff') format('woff'),
  url('#{$font_url}silka-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-bold-webfont.eot');
  src: url('#{$font_url}silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-bold-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-bold-webfont.woff') format('woff'),
  url('#{$font_url}silka-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-semibold-webfont.eot');
  src: url('#{$font_url}silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-semibold-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-semibold-webfont.woff') format('woff'),
  url('#{$font_url}silka-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-medium-webfont.eot');
  src: url('#{$font_url}silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-medium-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-medium-webfont.woff') format('woff'),
  url('#{$font_url}silka-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-regular-webfont.eot');
  src: url('#{$font_url}silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-regular-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-regular-webfont.woff') format('woff'),
  url('#{$font_url}silka-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-light-webfont.eot');
  src: url('#{$font_url}silka-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-light-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-light-webfont.woff') format('woff'),
  url('#{$font_url}silka-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-extralight-webfont.eot');
  src: url('#{$font_url}silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-extralight-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-extralight-webfont.woff') format('woff'),
  url('#{$font_url}silka-extralight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('#{$font_url}silka-thin-webfont.eot');
  src: url('#{$font_url}silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font_url}silka-thin-webfont.woff2') format('woff2'),
  url('#{$font_url}silka-thin-webfont.woff') format('woff'),
  url('#{$font_url}silka-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}