@import './_variables';
@import '~bootstrap/scss/bootstrap';

@import "./fonts";
@import "./buttons";
@import "./inputs";
@import "./colors";


* {
  transition: ease-out 0.2s;
}

body {
  font-family: "silka", "Helvetica Neue", Helvetica, serif;
  color: $text;
  font-size: 0.97rem;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.font-size-lg {
  font-size: 1.2rem;
}

.font-size {
  font-size: 1rem;
}

.font-size-sm {
  font-size: 0.8rem;
}

.font-weight-500 {
  font-weight: 500;
}

//.text--sm {
//  font-size: 0.87rem;
//}
//
//.text--md {
//  font-size: 0.92rem;
//}
//
//.text--xl {
//  font-size: 1.6rem;
//}
//
//.text--red {
//  color: red;
//}
.text-primary-light {
   color: $primary-light;
 }

.small {
  font-size: 0.84rem;
}


// Size

.size-1 {
  width: 1 * $base-size;
  height: 1 * $base-size;
}

.size-2 {
  width: 2 * $base-size;
  height: 2 * $base-size;
}

// .x-5em {
//     height: 5 * $base-size;
// }

// Tags

.tag {
  font-size: 0.8rem;
  color: grey;
  background: $gray-light;
  padding: 3px 10px;
  @extend .rounded-pill;
}
