@import './_variables';

.max-w {
  max-width: 300px;
}

.tom-input--gray {
  @extend .bg-gray--light;
  border: 1px solid transparent;
  transition: $time-fast ease-in;

  &:focus-within {
    @extend .tom-input--white;
  }
}

.tom-input--white {
  background: white !important;
  border: 1px solid $gray--light;
  transition: $time-fast ease-in;

  &:focus-within {
    border-color: $primary;
  }
}

// Focus

.input--no-outline:focus{
  border-color: inherit;
  box-shadow: none;
  outline: none;
}