@import './_variables';

input {
  @extend .rounded;
  font-size: 0.92rem;
  transition-duration: $delay !important;
  transition-property: border-bottom-color, border-left-color, border-right-color, border-top-color !important;

  &:focus {
    outline: 0 !important;
  }
}

.max-w {
  max-width: 300px;
}

.input--md {
  font-weight: 400;
  padding: 10px 16px;
}

.tom-input--gray {
  @extend .bg-gray--light;
  border-color: $gray;
  transition: $time-fast ease-in;

  &:focus-within {
    @extend .tom-input--white;
  }
}

.tom-input--white {
  background: white !important;
  border: 1px solid $gray--light;
  transition: $time-fast ease-in;

  &:focus-within {
    border-color: $gray;
  }
}

// Focus

.input--no-outline:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
}